<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://kit.fontawesome.com/12c2509d71.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/post.css">
  <link rel="stylesheet" href="/styles/header.css" />
  <title>Posts</title>
</head>
<body>
  <%- include('partials/_header') %>
  <section class="main">
    <div class="picture">
      <img src="https://unsophisticook.com/wp-content/uploads/2019/04/Pasta-With-Olive-Oil-And-Garlic-Recipe.jpg" alt="">
    </div>
    <div  class="content">
      <div>
        <div class="text"><strong><%= posts[0].title %></strong></div>
        <div class="text"><%= posts[0].description %></div>
        <div class="text"><a href="<%= posts[0].external_url %>"><%= posts[0].external_url %></a></div>
      </div>
      <div class="footer">
        <div>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </div>
        <i class="fa-solid fa-heart"></i>
      </div>
      </div>
    </div>
  </section>
  <section class="comment">
    <form action="" method="post">
      <div class="textbox">
        <textarea name="comment" placeholder="comment" aria-label="comment"></textarea>
        <button><i class="fa-regular fa-paper-plane"></i></button>
      </div>
    </form>
    <% for (let post of posts)  {%>
      <div><%= post.message %></div>
    <% }  %>
  </section>
</body>
</html>
