<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
     <link rel="stylesheet" href="/styles/search.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/styles/post.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/rating.scss" />
    <link rel="stylesheet" href="/styles/search.css" />
    <title>Posts</title>

    <script type="text/javascript" src="/scripts/client.js"></script>
    <script
    type="text/javascript"
    src="/scripts/composer-char-counter.js"
  ></script>
  </head>
  <body>
    <%- include('partials/_header') %>
    <section class="main">
      <div class="picture">
        <img
          src="<%=posts[0].url_image %>"
          alt=""
        />
      </div>
      <div class="content">
        <div class="topic">
          <label class="left" for="topic">Topic:</label>
          <label for="topic_name"><%= posts[0].topic %></label>
        </div>
        <div class="title">
          <label for="title_label" class="left">Title:</label>
          <label for="title"><%= posts[0].title %></label>
        </div>
        <div class="url">
          <label for="url_label" class="left">Url:</label>
          <label for="url"><a href="<%= posts[0].external_url %>"><%= posts[0].external_url %></a></label
          >
        </div>
        <div class="description">
          <label for="comments_label" class="left">Description:</label>
          <p>
            <%= posts[0].description %>
          </p>
        </div>
        <div>
          <%= rate[0].avg %>
        </div>
        <form class="rating" action="/rating" method="POST">
          <label>
            <input type="radio" name="rating" value="1" />
            <span class="icon">★</span>
          </label>
          <label>
            <input type="radio" name="rating" value="2" />
            <span class="icon">★</span>
            <span class="icon">★</span>
          </label>
          <label>
            <input type="radio" name="rating" value="3" />
            <span class="icon">★</span>
            <span class="icon">★</span>
            <span class="icon">★</span>
          </label>
          <label>
            <input type="radio" name="rating" value="4" />
            <span class="icon">★</span>
            <span class="icon">★</span>
            <span class="icon">★</span>
            <span class="icon">★</span>
          </label>
          <label>
            <input type="radio" name="rating" value="5" />
            <span class="icon">★</span>
            <span class="icon">★</span>
            <span class="icon">★</span>
            <span class="icon">★</span>
            <span class="icon">★</span>
          </label>
          <div class="rate-button">
            <button type="submit">rate!</button>
          </div>
        </form>
      </div>
    </section>
    <footer>
      <section class="comment">
        <div class="compose">
          <h2>New Comment</h2>
        </div>
        <div id="error-message"></div>
        <form id="new-Comment-form" action="/posts/<%=posts[0].id%>" method="POST">
          <label for="comment_text"></label>
          <textarea
            type="text"
            name="comment"
            id="comment_text"
            placeholder="Would you like to leave a comment?"
          ></textarea>
          <div class="botton">
            <button type="submit">Submit</button>
            <output name="counter" class="counter" for="comment-text"></output>
          </div>
        </form>
      </section>
      <section id="comments-container">
        <% for (let comment of comments)  {%>
          <p class="old_comment"><%= comment.message %></p><div>
        <% }  %>
      </section>
    </footer>
  </body>
</html>
