<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include('partials/_header') %>
  <h3>posts</h3>
  <table>
    <thead>
      <% for (let post of posts)  {%>
      <tr>
        <th>topic</th>
        <th>title</th>
        <th>description</th>
        <th>exteranl_url</th>
        <th>rating</th>
        <th>likes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= post.topic %></td>
        <td><%= post.title %></td>
        <td><%= post.description %></td>
        <td><%= post.external_url %></td>
        <td><%= post.rating %></td>
        <td><%= post.likes %></td>
      </tr>
      <% }  %>
    </tbody>
  </table>
</body>
</html>
